*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main{
    background-color: rgb(45, 44, 44);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 200px;
}