.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: aliceblue;
}
.form{
    width: 40%;
    height: 40%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border:2px solid black;
    border-radius: 5px;
    padding: 20px;
    background-color: #ea9367;
}
.form input{
    height: 30px;
    border-radius: 5px;
    border:1px solid black;
    padding: 5px;
}
.lower{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.radio{
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.button{
    margin-top: 10px;
    background-color: rgb(105, 213, 177);
    border: 1px solid black;
    border-radius: 10px;
    height: 35px;
    width: 100%;
    color: rgb(17, 17, 17);
}