*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
.header{
    padding: 10px 10px;
    background-color: #4075b5;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.left img{
    width: 40px;
    border-radius: 50%;
}
.right{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
.right button{
    padding: 10px 20px;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
/*height: 40vh*/
.hero{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.hero img{
    height: 55vh;
}
footer{
    background-color: #4075b5;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
