*{
    box-sizing: border-box;
}
.body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
.header{
    padding: 0px 20px;
    background-color: #4075b5;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
}
.left{
    width: 20%;
}
.left img{
    width: 40px;
    border-radius: 50%;
}
.hero{
    float: left;
    padding: 10px;
}
.hero img{
    width: 100%;
    height: auto;
}