*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main{
    background-color: rgb(45, 44, 44);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 200px;
}
.main1{
    background-color: rgb(168, 167, 167);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}
.main1 input{
    display: none;
}
#btn{
    background-color: #c34e4e;
    padding: 10px;
    border-radius: 10px;
    color: white;
}