*{
    margin: 0;
    padding: 0;
}
.header{
    width: 100%;
    height: 60px;
    background-color: #dadada;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 0 20px;
}
.logo img{
    object-fit: cover;
}
.right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}
.right input{
    height: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    width: 70%;
    color: rgb(255, 145, 0);
    font-size: medium;
}
.button{
    margin: 0 20px;
    width: 25%;
    display: flex;
    justify-content:end;
    height: 40px;
    gap: 20px;
    padding-right: 20px;
}
.button .btn{
    color: white;
    background-color: #41ba47;
    width: 80px;
    border: none;
    border-radius: 8px;
    cursor: pointer;

}