*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3e3c3c;
    
}
.form{
    width: 38%;

    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #a39f9f;
    padding: 10px;
    border-radius: 10px;
    border: 3px solid red;
}
.form h1{
    align-items: center;
    text-align: center;
}
.form input{
    border-radius: 10px;
    padding: 8px;
    width: 100%;
}

#textarea{
    width: 100%;
    height: 20vh;
    border-radius: 10px;
    border: 2px solid black;
    padding: 10px;
}
.form .submit{
    background-color: #3c7c35;
    color: wheat;
    cursor: pointer;
}
.submit:hover{
    background-color: #0ae20a;
    color: black;
}
.select{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid black;
}